# -----------------
# Python
# -----------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
*.egg
*.egg-info/
dist/
build/
.env

# -----------------
# Node.js
# -----------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env

# -----------------
# Go
# -----------------
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

# -----------------
# Bash / General
# -----------------
*.log
*.tmp
*.zip
*.tar.gz
*.swp
*.DS_Store

# -----------------
# Optional IDE / Editor
# -----------------
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
